.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
.Logo img {
    height: 100%;
}
.Logo.SideDrawer{
    height:25%;
    
}
.Logo.SideDrawer img{
display:inline-block;
height:100%;
width:100%;
}

